{% extends 'base.html' %}

{% block content %}

<h1>Shirt Details</h1>


<div class="card">
    <a href="{% url 'shirts_detail' shirt.id %}">
        <div class="card-content black-text">
            <span class="card-title">A {{ shirt.color.lower }} {{ shirt.name }}</span>
        </div>
        <div class="card-action">
            <a href="{% url 'shirts_update' shirt.id %}">Edit</a>
            <a href="{% url 'shirts_delete' shirt.id %}">Delete</a>
        </div>
    </a>
</div>

{% endblock %}